*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(233, 232, 232);
    overflow-x: hidden; 
}

.clear{
    clear: both;
}

.custom-container{
    margin: 15px; 
    width: 50%;
    float: left;
    -webkit-animation: slide-right 2s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
    animation: slide-right 2s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}

.custom-search{
    position: relative;
    width: 100%;
    padding: 0 20px;
    -webkit-animation: slide-right 2s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
    animation: slide-right 2s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}

.cutsom-input{
    margin-top: 20px;
    width: 45%;
    padding: 20px 10px;
}

.cutsom-btn{
    position: absolute;
    top: 0;
    left: 45%;
    border-radius: 0 5px 5px 0;
    padding: 8px;

}



.form{
    float: right;
    width: 45%;
    margin: 15px; 
    background: rgb(255, 255, 255);
    padding: 10px 20px; 
    z-index: 1000;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 54px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 54px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 54px -3px rgba(0,0,0,0.75);
    -webkit-animation: slide-top 0.9s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
    animation: slide-top 0.9s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}

input{
    width: 100%;
    padding: 5px;
    margin: 6px 0 13px 0;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.custom-btn{
    margin: 20px 5px
}

tr{
    cursor: pointer;
    transition: 0.25s ease-in-out
}

tr:hover{
    background: orangered;
}

tr:nth-child(odd):hover {
    background: orangered !important;
}
  


@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(600px);
              transform: translateY(600px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(600px);
              transform: translateY(600px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
}


@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-800px);
              transform: translateX(-800px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-800px);
              transform: translateX(-800px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}


@media screen and (max-width : 1100px){
    .form{
        float: none;
        width: 100%;
        margin: 10px auto;
    }
    .custom-container{
        float: none;
        width: 100%;
        margin: 10px auto;
    }

}